body{
    background-color:rgb(238, 218, 218);
   
   display: flex;
   justify-content: center;
   
}
@media screen and(max-width: 768PX){

    .cv_contenu{
        width: 100%;
        transform: scale(0.9);
        flex-direction: column;
    }
    .partie_gauche,.partie_droite{
        width: 100%;
    }
    .partie_gauche{
        text-align: center;
       
    }
    
}

.cv_contenu{
    
    width: 800px;
    display:flex ;
    background-color:white;
     border-radius: 8px;
     overflow: hidden;
    
}
.partie_gauche{
     background-color: #46383b;
     width: 40%;
     color: white;
     padding: 30px;
}

.profil{
    width: 130px;
    height: 150px;
    border-radius: 50%;
   border: 5px solid #c5687b;
   margin: 0 auto 20px;
   background-image: url(profil.jpeg);
   background-size: cover;
   background-position: center;
  
 
}
.partie_gauche h2 ,.partie_gauche h4{
    text-align: center;
}
.partie_gauche h4{
    font-weight: normal;
    color: #c5c6c7;
}
.G{
margin-top: 35px;
}
.G h3{
    margin-bottom: 10px;
    border-bottom:2px solid #7f5d5d;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    
}
.G p,.G li{
    font-size:15px ;
    margin-bottom: 5px;

}

.partie_droite{
width: 60%;
padding: 30px 40px;

}
.D h3{
color:#1b1e29 ;
border-left: 4px solid #46383b;
padding-left: 4px;
margin-bottom: 20px;
margin-top: 50px;
font-size:18px ;
}
.D p{
    margin-bottom: 10px;
    font-size: 15px;
    color: #1e1b1b;
}
.D ul{
    margin-left: 10px;
    font-size: 15px;
}